<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .btn {
      cursor: pointer;
      margin: 10px 0px;
      padding: 5px 10px;
      color: whitesmoke;
      background-color: black;
    }
    .btn:hover {
      color: white;
      background-color: black;
    }
  </style>
</head>
  <body>
    <div class="tableWrap">
      {{!-- <div class="box">
        <img src="" alt="">
      </div> --}}
      <div class="info">
        <h4>New Password</h4>
        <p>Username: {{body.inputEmail}}<span></span> </p>
        <p>Your new password is: {{body.password}}</p>
        <hr>
        <p>Reset password by loggin in and <br>using the your current password and username.</p>
        <a href="http://cit.eservices.gov.za/testfpbclient/" class="btn" style="margin: 10px 0px; padding: 5px 10px;">
          Log In
        </a>
      </div>
    </div>
  </body>
</html>
